<div class="portfolio">
    <div>
        <h2>Portfolio</h2>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Going4Groceries.com</h3>
                <img  class="card-img-top" src="assets/g4g.png" alt="going4groceries.com website picture" />
                <p>PHP & MySQL project for a local grocery delivery startup in Waikoloa, HI.</p>
                <p>Implemented project with 30,000 products and a customized delivery scheduling function</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Americounsel</h3>
                <img class="card-img-top" src="assets/americounsel.png" alt="americounsel website picture" />
                <p class="card-text">Flat-Rate Legal Services for a NY Lawfirm utilizing Java, Javascript, HTML</p>
                <p>In the late 1990's was considered a revolutionary idea.</p>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Free Merchant</h3>
                <img class="card-img-top" src="assets/freemerchant.png" alt="freemerchant website picture" />
                <p class="card-text">First DIY business website builder for free with the ability to add customized
                    Services
                    such as certificates and merchant card services.
                </p>
            </div>
        </div>
    </div>
</div>