  /* CSS for the portfolio page */
.portfolio {
  width: 80%;
  margin-top: 3%;
}
.portfolio img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-top: 1%;
  width: 80%;
}

  .portfolio h2, p {
    width: 65%;
    margin-left: 15%;
    margin-top: 3%;
  }

  .card-title {
    text-align: center;
  }