  /* CSS for the portfolio page */
  .portfolio,
  img {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 18%;
    margin-top: 5%;
    width: 55%;
  }

  .portfolio p {
    text-align: left;
  }